Repository StyleFinder/thunder-text: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: set currentPrompt from API response in loadProfile
  src/app/content-center/store-profile/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: add current prompt as AI message to chat when loading in-progress interview
  src/app/content-center/store-profile/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add migration to fix count_words permissions (already applied to DB)
  supabase/migrations/20251029_fix_count_words_permissions.sql
Due: none

fix: add SECURITY DEFINER to business profile functions
  supabase/migrations/20251029_fix_business_profile_permissions.sql
Due: none

fix: drop auto_response_metadata trigger to resolve permission error
  supabase/migrations/20251029_drop_auto_response_metadata_trigger.sql
Due: none

fix: call get_or_create_business_profile to ensure profile exists before saving answers
  src/app/api/business-profile/answer/route.ts
  src/app/api/business-profile/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: consolidate all permission fixes into single migration
  supabase/migrations/20251029_drop_auto_response_metadata_trigger.sql
Due: none

docs: update migration file with complete permission fixes
  supabase/migrations/20251029_fix_business_profile_permissions.sql
Due: none

fix: use SUPABASE_SERVICE_ROLE_KEY for supabaseAdmin client
  src/lib/supabase.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: replace RPC function calls with direct table operations
  src/app/api/business-profile/answer/route.ts
  src/app/api/business-profile/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

debug: add detailed logging to identify permission error source
  src/app/api/business-profile/answer/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use bypass function to avoid PostgREST schema cache permission errors
  src/app/api/business-profile/answer/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: revert to direct table INSERT with environment validation
  src/app/api/business-profile/answer/route.ts
  src/lib/supabase.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use RPC function to bypass PostgREST stale schema cache
  src/app/api/business-profile/answer/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use alphabetical parameter order for PostgREST RPC compatibility
  src/app/api/business-profile/answer/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use new function name to bypass PostgREST stale cache
  src/app/api/business-profile/answer/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use direct PostgreSQL connection to bypass PostgREST
  package-lock.json
  package.json
  src/app/api/business-profile/answer/route.ts
  src/lib/postgres.ts
  supabase/migrations/20251030_create_save_profile_response.sql
Due: eslint --fix --max-warnings 0, prettier --write

build: add @types/pg for TypeScript compilation
  package-lock.json
  package.json
Due: prettier --write

debug: add logging to verify INSERT operation and returned ID
  src/app/api/business-profile/answer/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

debug: add aggressive logging to detect wrong database connection
  src/lib/postgres.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml})
