Repository StyleFinder/thunder-text: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{js,jsx,mjs}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(security): Document R-F8672 HTTP read false positive
  scripts/fix-layouts.py
Due: none

fix(security): Harden RichTextEditor XSS protection [R-09CB5]
  src/components/content-center/RichTextEditor.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(security): Add R-269DC reference to RichTextEditor XSS documentation
  ACE_INTEGRATION_COMPLETE.md
  ACE_UI_MIGRATION_COMPLETE.md
  AUTH_MIGRATION_CHECKLIST.md
  AUTH_MIGRATION_STRATEGY.md
  BUILD_FIX_COMPLETE.md
  DATABASE_VERIFICATION.md
  DESIGN_SYSTEM_STATUS.md
  EXTERNAL_AUTH_GUIDE.md
  LAYOUT_ANALYSIS.md
  LAYOUT_FIX_SUMMARY.md
  MIGRATION_STATUS.md
  PACKAGES_REVIEW.md
  PHASE1_COMPLETE.md
  PHASE1_PROGRESS.md
  PHASE2_PROGRESS.md
  PHASE3_SUMMARY.md
  POLARIS_REMOVAL_SUMMARY.md
  REMAINING_POLARIS_FILES.md
  SOLUTION_IMPLEMENTED.md
  UI_MIGRATION_COMPLETE.md
  claudedocs/ANALYSIS_REPORT_2025-12-01.md
  claudedocs/COMPLETE_CLEANUP_SUMMARY.md
  claudedocs/CONSOLE_LOG_ANALYSIS.md
  claudedocs/FINAL_MIGRATION_COMPLETE.md
  claudedocs/POST_MIGRATION_ANALYSIS_2025-12-01.md
  claudedocs/SENTRY_MIGRATION_SUMMARY.md
  docs/POLARIS_MIGRATION.md
  fix-all-orphans.sh
  fix-orphans.py
  ngrok.log
  scripts/__pycache__/fix-layouts.cpython-37.pyc
  src/components/content-center/RichTextEditor.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): Remediate R-A2041 incomplete string replacement vulnerability
  src/__tests__/auth/shopify-auth.test.ts
  src/lib/auth/content-center-auth.ts
  src/lib/shopify-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Document R-6675E (XXE) false positive in fix-orphans.py
  scripts/fix-orphans.py
Due: none

docs: Document R-3F913 false positive in fix-layouts.py
  scripts/fix-layouts.py
Due: none

security: Update Next.js to 15.5.7 - fix critical RCE vulnerability
  package-lock.json
  package.json
Due: prettier --write

security: Remove hardcoded Shopify API credentials from install script
  scripts/install-oauth.sh
Due: none

security: Remove hardcoded API secret from verify-credentials route
  src/app/api/debug/verify-credentials/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

security: Redact Supabase project identifiers from documentation
  DATABASE_VERIFICATION.md
  _deprecated/root-docs/DATABASE_VERIFICATION.md
Due: prettier --write

security: Add DOMPurify sanitization to prevent XSS in HTML rendering
  src/app/components/shared/EnhancedContentComparison.tsx
Due: eslint --fix --max-warnings 0, prettier --write

security: Remove exposed secrets from troubleshooting guide
  _deprecated/root-docs/SHOPIFY_TROUBLESHOOTING_GUIDE.md
Due: prettier --write

security: Fix Supabase Storage path traversal vulnerabilities
  src/app/api/best-practices/route.ts
  src/app/api/business-profile/writing-samples/[id]/route.ts
  src/app/api/business-profile/writing-samples/route.ts
  src/lib/security/input-sanitization.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Add comprehensive documentation suite for code review
  docs/AI_SYSTEM_DESIGN.md
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DATABASE_SCHEMA.md
  docs/ENVIRONMENT.md
  docs/ERROR_CODES.md
  docs/IMPLEMENTATION_PLAN.md
  docs/INCIDENT_RESPONSE.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  docs/Thunder_Text_PRD.md
Due: prettier --write

feat(ui): Complete Thunder Text UI redesign with Luminous Depth design system
  .claude/CLAUDE.md
  CLAUDE.md
  REDESIGN_PLAN.md
  _deprecated/POLARIS_MIGRATION.md
  _deprecated/docs/SECURITY_ACTION_PLAN.md
  _deprecated/docs/prd-content-creation-center.md
  _deprecated/docs/workflow-content-creation-center.md
  src/app/ads-library/page.tsx
  src/app/aie/page.tsx
  src/app/auth/confirm-action/page.tsx
  src/app/auth/error/page.tsx
  src/app/auth/forgot-password/page.tsx
  src/app/auth/login/page.tsx
  src/app/auth/reset-password/page.tsx
  src/app/auth/signup/page.tsx
  src/app/create-ad/page.tsx
  src/app/create-pd/page.tsx
  src/app/dashboard/page.tsx
  src/app/embedded/page.tsx
  src/app/enhance/UnifiedEnhancePage.tsx
  src/app/enhance/components/ProductSelector.tsx
  src/app/globals.css
  src/app/page.tsx
  src/app/products/page.tsx
  src/app/settings/page.tsx
  src/app/welcome/page.tsx
  src/components/auth/AuthCard.tsx
  src/components/auth/AuthCenteredLayout.tsx
  src/components/auth/AuthSplitLayout.tsx
  src/components/auth/GradientMesh.tsx
  src/components/auth/ThunderTextLogo.tsx
  src/components/auth/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: add missing bcrypt dependency for auth
  package-lock.json
  package.json
Due: prettier --write

fix: Update Supabase project ID validation to correct Thunder Text project
  packages/shared-backend/src/lib/postgres.ts
  src/lib/postgres.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Update root redirect to /auth/login and remove Shopify button
  src/app/auth/login/page.tsx
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Use lazy import for supabaseAdmin in auth-options
  src/app/api/auth/[...nextauth]/route.ts
  src/lib/auth/auth-options.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Convert security modules to lazy supabaseAdmin imports
  src/lib/security/login-protection.ts
  src/lib/security/two-factor-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: Create standalone server-only supabaseAdmin client
  src/lib/supabase/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Resolve post-login authentication error for standalone users
  extensions/enhance-product-action/dist/enhance-product-action.js.map
  shopify.app.toml
  src/app/ads-library/[id]/edit/page.tsx
  src/app/ads-library/page.tsx
  src/app/aie/page.tsx
  src/app/api/ads-library/[id]/route.ts
  src/app/api/aie/generate/route.ts
  src/app/api/aie/library/[id]/route.ts
  src/app/api/webhooks/compliance/route.ts
  src/app/api/webhooks/customers/data-request/route.ts
  src/app/api/webhooks/customers/redact/route.ts
  src/app/api/webhooks/shop/redact/route.ts
  src/app/auth/login/page.tsx
  src/app/dashboard/page.tsx
  src/app/enhance/components/ProductSelector.tsx
  src/lib/aie/creative/agent.ts
  src/lib/middleware/webhook-validation.ts
  src/lib/shopify/get-products.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: connections page now uses session fallback for shop domain
  docs/USER_JOURNEYS.md
  src/app/settings/connections/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Support NextAuth session in connections API for standalone users
  src/app/api/debug/products/route.ts
  src/app/api/debug/verify-credentials/route.ts
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Add debug logging to connections API for auth troubleshooting
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Show specific API error message on connections page
  src/app/settings/connections/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): use getServerSession instead of getToken for NextAuth
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(connections): use authenticated shop domain for database lookup
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

debug: add detailed logging for shop not found error
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): prefer NextAuth session over Shopify cookie
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): add getToken fallback when getServerSession returns null
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): add URL param fallback for standalone users with stale cookies
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Allow URL param authentication for standalone users in connections API
  src/app/api/settings/connections/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add standalone user Shopify store linking
  src/app/api/auth/shopify/callback/route.ts
  src/app/api/auth/shopify/link/route.ts
  src/app/api/settings/connections/route.ts
  src/app/settings/connections/page.tsx
  src/lib/security/oauth-validation.ts
  supabase/migrations/20251206_add_linked_shopify_domain.sql
Due: eslint --fix --max-warnings 0, prettier --write
